<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShieldFactory</title>

    <link rel="icon" type="images/x-icon" href="https://github.com/Asphar/ServerActixPsql/blob/main/src/assets/logo_url.ico?raw=true">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
</head>

<body>

    <!-- header -->
    <div id="nav">
        <div class="logo">
            <img src="https://github.com/Asphar/ServerActixPsql/blob/main/src/assets/logo_url.ico?raw=true">
            <h1 class="titre">Shield Factory</h1>
        </div>
        <div class="links">
            <a href="/auth.html">Access our website</a>
        </div>
    </div>

    <!-- page home -->
    <div class="home">

        <div id="container">
            <div class="talk-box">
                <div class=" talk">
                    <h1>Secure, Fast & Accessible VPN</h1>

                    </a>
                </div>
                <h2></h2>
            </div>
            <div class="wave"></div>
        </div>

        <div class="middle-page">
            <div class="text">
                <p class="bold">ShieldFactory is a VPN management platform
                    for Wireguard designed to browse the Web safely.
                </p>
                <img src="https://github.com/Asphar/ServerActixPsql/blob/main/src/assets/computer.png?raw=true" style="width:600px;height:400px;">

            </div>
        </div>
        <hr>


        <div class="end-page">
            <div class="text">
                <p>Anonymity is a shield from the tyranny of the majority, and we offer you this powerful tool of privacy to stay protected at all time.<br>
                We have extensively simplified the ShieldFactory interface to make it as intuitive as possible for your everyday use.</p>
            </div>

        </div>

        <footer>
            <p>©2022 Shield Factory - All rights reserved</p>
            <img src="https://github.com/Asphar/ServerActixPsql/blob/main/src/assets/isen.png?raw=true">
        </footer>

    </div>
</body>

</html>

