<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="images/x-icon" href="https://github.com/Asphar/ServerActixPsql/blob/main/src/assets/logo_url.ico?raw=true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/home.css">

    <title>Key generation</title>

</head>
<body>
    <div id="nav">
        <div class="logo">
            <img src="https://raw.githubusercontent.com/Asphar/ServerActixPsql/d9192acedbcf97f7d3d2b52220967860c4253366/src/assets/neon.png">
            <h1 class="titre">{{titre}}</h1>
        </div>
        <div class="links">

            <a href="./connexion_reussie.html">Home</a>
            <a href="./tutoriel.html">Tutorial</a>
            <a href="./key_generator.html">Generate Keys</a>
            <a href="./vpns.html">VPNs</a>
        </div>
    </div>
</body>
