<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/succ.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="icon" type="images/x-icon" href="ttps://github.com/Asphar/ServerActixPsql/blob/main/src/assets/logo_url.ico?raw=true">

    <title>ShieldFactory</title>
</head>
<body>

    <!-- Barre de navigation -->

    <div id="nav">
        <div class="logo">
            <img src="https://raw.githubusercontent.com/Asphar/ServerActixPsql/d9192acedbcf97f7d3d2b52220967860c4253366/src/assets/neon.png">
            <h1 class="titre">Shield Factory</h1>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/auth.html">Tutorial</a>
            <a href="/auth.html">Create Interface</a>
            <a href="/auth.html">Generate Keys</a>
            <a href="/auth.html">VPNs</a>

        </div>
    </div>

     <!-- Modify Interface -->
				<div id="container">
				  <div id="success-box">
					<div class="dot"></div>
					<div class="dot two"></div>
					<div class="face">
					  <div class="eye"></div>
					  <div class="eye right"></div>
					  <div class="mouth happy"></div>
					</div>
					<div class="shadow scale"></div>
					<div class="message"><h2 class="alert">Success mail!</h2><div class="para">You're okay, everything is working.</div></div>
		
				  </div>
				  
				</div>

<!-- Footer -->

    <footer>
        <p>©2022 Shield Factory - All rights reserved</p>
        <img src="https://github.com/Asphar/ServerActixPsql/blob/main/src/assets/isen.png?raw=true">
    </footer>
    

</body>
