<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="images/x-icon" href="https://github.com/Asphar/ServerActixPsql/blob/main/src/assets/logo_url.ico?raw=true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/home.css">
    <script src="/key_generator.js"></script>

    <title>{{title}}</title>
</head>
<body>

    <!-- Barre de navigation -->

    <div id="nav">
        <div class="logo">
            <img src="https://raw.githubusercontent.com/Asphar/ServerActixPsql/d9192acedbcf97f7d3d2b52220967860c4253366/src/assets/neon.png">
            <h1 class="titre">{{title}}</h1>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="#" onclick="tutorial()">Tutorial</a>
            <a href="#" onclick="interface()">Create Interface</a>
            <a href="#" onclick="keygen()">Generate Keys</a>
            <a href="#" onclick="VPN()">VPNs</a>

        </div>
    </div>

    <!-- Modify Interface -->
    <div class="formulary">
        <h1>Edit interface / Profile</h1>
        <p>
            Select the profile you want to edit : <br>
            <span id="checkbox">
                <input type="radio" name="profile" id="work_chayer" value="work" checked/><label for="work">Work</label>
                <span class="espace"></span>
            </span>
        </p>

        <p>
            WORK<br>
            <label for="change_name"></label> Change name : <input type="text" name="change_name" id="change_name"/>
        </p>

        <p>
            Select interface to edit.
        </p>

        <p>
            <label for="change_name2"></label> Change name : <input type="text" name="change_name2" id="change_name2"/>
        </p>

        <p>
            <label for="change_peer"></label> Change peer's wireguard address : <input type="text" name="change_peer" id="change_peer"/>
        </p>
    </div>

    <!-- Footer -->

    <footer>
        <p>©2022 Shield Factory - All rights reserved</p>
        <img src="https://github.com/Asphar/ServerActixPsql/blob/main/src/assets/isen.png?raw=true">
    </footer>
    


</body>
